<!DOCTYPE html>
<html>

<head>
    <title>
        {% if page.title and page.title != "" and page.title != nil %}{{ page.title }} - {% endif %}
        {{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css">
    <link rel="icon" type="image/png" href="{{ site.icon }}">
    <style type="text/css">
        footer p {
            color: white;
        }
        nav li.active a {
            color: black;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.ga_id }}');
    </script>
</head>

<body>
    {{ content }}
    <footer>
        <p>
            © {{ 'now' | date: "%Y" }} Mingyang Li. All rights reserved. Metrics are last updated on {{site.data.metrics.updated|date: "%F at %H:%M" }}.
        </p>
    </footer>
</body>

</html>
