---
layout: default
---
<header>
    <nav>
        <img src="{{ site.icon }}" height=30 style="border-radius: 20px" />

        {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
        <ul>
        {% for item in mainmenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
                <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>
    {% if page.header %}
        {% capture header %}{% include_relative header.md %}{% endcapture %}
        {{ header | markdownify }}
    {% endif %}
</header>
<main>
    <article>
        {{ content }}
    </article>
</main>
