---
layout: default
---
<header>
    <nav>
        <img src="{{ site.icon }}" height=30 style="border-radius: 20px" />

        {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
        <ul>
        {% for item in mainmenu %}
            {% if item.url == page.url %}
                <li class="active">
                    {{ item.name }}
                </li>
            {% else %}
                <li>
                    <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
    {% if page.header %}
        {% capture header %}{% include_relative header.md %}{% endcapture %}
        {{ header | markdownify }}
    {% endif %}
</header>
<main>
    <article>
        {{ content }}
    </article>
</main>
